<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin-style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Sensors</title>
</head>
<body>
    <header>

    </header>
        <main>
            <div class="container_loading">
                <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="Loading gif">
            </div>
        </main>
    <footer>

    </footer>
</body>
<script>window.location.replace("testingSensors")</script>
</html>
